<!-- Navbar -->
<nav class="navbar navbar-expand-lg" style="background-color: #693668;">
    <a class="navbar-brand" href="#"></a>
    <img src="Logo.parodyPokemon.png" width="30" height="30" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Featured</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">WishList</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user">{{user_name}}</a>
        </li>
      </ul>
    </div>
  </nav>

<h1>user-page</h1>
<h1>{{user_name}}</h1>

<h1>{{title}}</h1>

<image src="{{img}}"></image>

<h1>{{description}}</h1>

<h1>{{score}}</h1>




