
<h1></h1>
<h1>{{user.user_name}}'s Game List</h1>

<h1>{{title}}</h1>

<<<<<<< HEAD
<img src="{{img}}">

<p>{{description}}</p>
=======
<image src="{{img}}"></image>

<h1>{{description}}</h1>

<h1>{{score}}</h1>
>>>>>>> main




