{{> nav-bar }}
<div class="card bg-dark text-white" style="margin: auto; margin-top: 10px;">
    <div class="media mx-auto">
        <img src="{{user.pokemon_img}}" class="" alt="Pokemon IMG">
    </div>
    <div class="media-body mx-auto">
        <h5 class="mt-0">{{user.user_name}}'s Pokemon : {{user.pokemon_name}} </h5>
    </div>
</div>
<br>
<div class="jumbotron jumbotron-fluid" style="background-color:#D8DCFF; max-height:min-content;">
    <div class="container">
    <h1 class="display-5" style="text-align: center;">{{user.user_name}}'s Game Dex !</h1>
</div>
</div>

{{#each gamesList}}
<div class="card float-left col-3" style="width: 18rem; display:flex; margin-top: 25px; margin: 25px;">
<div class="card-media">
  <img src="{{game_img}}" class="card-img-top" style="margin-top: 5px;" alt="Game Icon via Chicken-Coop API">
  </div>
  <div class="card-body">
    <h3>{{game_title}}</h3> <br>
    <p class="card-text">Game id : {{game_id}}</p>
  </div>
</div>
{{/each}}

