
	
	<span>{{user_name}}</span>
		
	

	{{!-- <h1 class="user" data-id="{{id}}" data-email="{{email}}">
		{{#if email}} {{email}} {{else}}No email?{{/if}}
	</h1>
	<h1 class="user" data-id="{{id}}" data-email="{{email}}">
		{{#if user_name}} {{user_name}} {{else}}No Name?{{/if}}
	</h1>
	<h1 class="user" data-id="{{id}}" data-email="{{email}}">
		{{#if user_pokemon}} {{user_pokemon}} {{else}}No Pokemon yet? loser{{/if}}
	</h1> --}}
	

